<h1>
    Departments works too!
    <!-- of course they do too -->
  </h1>
  <table>
    <thead>
      <th>ID</th>
      <th>Name</th> 
      <th>Action</th> 
    </thead>
  
    <tr *ngFor="let dept of depts; let i = index" [attr.data-index]="i">
      <td>
        {{dept.id}}
      </td>
      <td>{{dept.dept_name}} </td>
      <td>
        <button class="btn btn-warning" (click)="show(dept, i)">Edit</button>
        <button class="btn btn-danger" (click)="delete(i)">Delete</button>
      </td>
    </tr>
  </table>

  <hr>

  <div class="container">
    <h3>Add New Department</h3>
    <form>
      <div class="form-group">
        <input type="text" class="form-control" id="dept_name" name="dept_name" placeholder="Department Name" [(ngModel)]="dept_name">
      </div>
      <button type="button" class="btn btn-outline-success" (click)="insert()">Submit</button>
    </form>
  </div>

  <div *ngIf="selectedDept">
    <hr>
    <div class="container">
    <h2>Update Data</h2>
      <div>
        <label>
          <div class="form-group">
            <input type="hidden" [(ngModel)]="i" name="i" placeholder="name">
            Name:
            <input type="text" class="form-control" [(ngModel)]="selectedDept.dept_name" name="dept_name2" placeholder="name">
          </div>
          <button type="button" class="btn btn-outline-warning" (click)="update(i)">Update</button>
        </label>
      </div>
    </div>
  </div>