<div class="row">
  <table class="col-md-4 table table-dark table-responsive">
    <thead>
      <th scope="col">ID</th>
      <th scope="col">Name</th>
    </thead>
    <tr *ngFor="let dept of departments; let i = index" [attr.data-index]="i" (click)="onSelectDept(dept)">
      <td>
        {{dept.id}}
      </td>
      <td>{{dept.dept_name}} </td>
    </tr>
  </table>
  <table class="col-md-4 table table-responsive">
    <thead>
      <th>ID</th>
      <th>Task</th>
    </thead>
    <tr *ngFor="let tsk of tugas; index as i" (click)="onSelectTask(tsk)">
      <td>
        {{tsk.id}}
      </td>
      <td>{{tsk.name}} </td>
    </tr>
  </table>
  <table class="col-md-4 table table-responsive table-danger">
    <thead>
      <th>ID</th>
      <th>Name</th>
    </thead>
    <tr *ngFor="let emp of employeeList; let i = index" [attr.data-index]="i" (click)="onSelectEmp(emp)">
      <td>
        {{emp.id}}
      </td>
      <td>{{emp.emp_name}} </td>
    </tr>
  </table>
</div>

<div class="row">
  <div *ngIf="selectedTask">
    <table class="col-md-6 table table-responsive">
      <thead>
        <th>ID</th>
        <th>Task</th>
        <th>Priority</th>
        <th>Department ID</th>
        <th>Employee</th>
        <th>Due Date</th>
        <!-- <th>action</th> -->
      </thead>
      <tr>
        <td>
          {{selectedTask.id}}
        </td>
        <td>{{selectedTask.name}} </td>
        <td> {{selectedTask.priority}}</td>
        <td> {{getDepartmentName(selectedTask.depId)}}</td>
        <td> {{getEmployeeName(selectedTask.empId)}}</td>
        <td> {{selectedTask.dueDate.toString()}}</td>
        <!-- <td><button class="btn btn-danger" (click)="deleteTask(i)">Delete</button></td> -->
      </tr>
    </table>

  </div>
  <div *ngIf="selectedEmp">
   <table class="table">
    <thead>
      <th>ID</th>
      <th>Name</th>
      <th>Address</th>
    </thead>

    <tr >
      <td>
        {{selectedEmp.id}}
      </td>
      <td>{{selectedEmp.emp_name}} </td>
      <td> {{selectedEmp.emp_address}}</td>
    </tr>

    </table>

  </div>
  <div *ngIf="selectedDept">
    <table class="col-md-6 table">
      <thead>
        <th>ID</th>
        <th>Name</th>
      </thead>
      <tr >
        <td>
          {{selectedDept.id}}
        </td>
        <td>{{selectedDept.dept_name}} </td>
       </tr>
    </table>

  </div>

</div>
